<ion-view view-title="Fiche détaillée de {{ pseudo }}" style="background-color:#34495e!important;text-align:center!important;">

  <style>
          .item .item-content
        {
             background-color: transparent !important;
             color:#ffffff;
             font-size:2em;
             border-width: 0px!important;
             border-style: none!important;
        }

            #myProgress {
            width: 100%;
            background-color: #2c3e50!;
            border-color:#34495e;
            border-style: solid;
            border-width: 2px;
            padding:2px;
        }

        #myBar {
            width: 10%;
            height: 20px;
            background-color: #d4ff2a;
        }
  </style>

    <ion-item style="border-width:0px!important;margin-top:50px!important;">
        <br/>
        <span style="color:#ffffff;font-size:3em;padding:10px;">
             <span style="color:#d4ff2a;font-size:1em!important;">{{ pseudo }}</span>
          </span>
    </ion-item>

    <div class="button-bar" style="border-width:0px!important">
        <button ng-class="{'button icon ion-play': active, 'button icon ion-pause': !active}" ng-click="active=!active" style="background-color:#d4ff2a;color:#000000;font-size:3em!important"> </button>
        <button class="button icon ion-android-stopwatch" ng-click="SetStoriginGamingCalendar()" style="background-color:#d4ff2a;color:#000000;font-size:3em!important"></button>
        <button class="button icon ion-ios-color-wand" disabled style="background-color:#d4ff2a;color:#000000;font-size:3em!important"></button>
        <button class="button icon ion-compose"  ng-click="ShowModifyChild()"   style="background-color:#d4ff2a;color:#000000;font-size:3em!important"></button>
    </div>

  <ion-item style="background-color:#2c3e50!important; border-width:0px!important;margin-top:10px!important;">

  <div class = "col" style="text-align:left!important;">

  <!--<div style="width:100%;padding:10px!important;text-align:center">
        <img src="img/3-6-9-12.svg" />
    </div>-->
      <br/>
      <br/>
      <span style="color:#ffffff;font-size:1em;padding:10px;">
       Ecrans : <span style="font-size:1em;color:#d4ff2a;">{{ conseils }}</span>
      </span>
      <br/>

      <span style="color:#ffffff;font-size:1em;padding:10px;">
       Attentif à : <span style="font-size:1em;color:#d4ff2a;">{{ attention }}</span>
      </span>
      <br/>
      <br/>

      <div id="myProgress">
      <div id="myBar"></div>
    </div>
      <br/>
    <div id="myProgress">
      <div id="myBar"></div>
    </div>

      <br/>
      <span style="color:#ffffff;font-size:1em;padding:10px;">
          Age : <span style="color:#d4ff2a;">{{ age }}</span>
      </span>
      <br/>

      <span style="color:#ffffff;font-size:1em;padding:10px;">
       Niveau :
        <i class="icon ion-android-star" style="color:#d4ff2a!important;"></i>
        <i class="icon ion-android-star" style="color:#d4ff2a!important;"></i>
        <i class="icon ion-android-star energized" style="color:#34495e;"></i>
        <i class="icon ion-android-star energized" style="color:#34495e;"></i>
    </span>
<br/>
<br/>

      <span style="color:#ffffff;font-size:1em;padding:10px;">
       Vies :
        <i class="icon ion-heart" style="color:#d4ff2a!important;"></i>
        <i class="icon ion-heart" style="color:#d4ff2a!important;"></i>
        <i class="icon ion-heart" style="color:#d4ff2a!important;"></i>
        <i class="icon ion-heart energized" style="color:#34495e;"></i>
    </span>
<br/>

      <span style="color:#ffffff;font-size:1em;padding:10px;">
       Durée : <span id="PlayeTimer" style="color:#d4ff2a;"></span>
    </span>
<br/>

  </div>
  </ion-item>

</ion-view>

