<ion-view view-title="Enfants" style="background-color:#442178ff!important;">
    <style>
        .item .item-content
        {
             background-color: transparent !important;
             color:#ffffff;
             font-size:2em;
        }
    </style>
    <ion-content>
        <ion-list>
            <ion-item style="background-color:#442178!important;" ng-repeat="child in children" href="#/app/children/{{child.id}}">
                <div class = "row">
                    <div class = "col">
                        <ion-thumbnail item-end>
                            <img src="img/chapeau-storigin.svg">
                        </ion-thumbnail>
                    </div>
                    <div class = "col">
                        <p>
                            {{child.name}}
                            <h2>Math</h2>
                            <br/>
                           Progression
                        </p>
                    </div>
                    <div class = "col">
                        <p>Niveau : </p>
                    </div>
                </div>

                <ion-option-button class="button-light icon ion-heart"></ion-option-button>
                <ion-option-button class="button-light icon ion-email"></ion-option-button>
                <ion-option-button class="button-assertive icon ion-trash-a"></ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
