<ion-view view-title="Invitations" style="background-color:#34495e!important;">



  <ion-content>
    <ion-list>
      <ion-item style="background-color:#2c3e50!important;">

        <div class = "row">
          <div class = "col" style="text-align:center;background-color:#2c3e50!important">
            <ion-thumbnail item-end >
              <img src="img/chapeau-storigin-bleu.svg" style="padding:15px!important">
            </ion-thumbnail>
          </div>
          <div class = "col">
            <p class="parent">
              <span style="color:#ffffff; font-size:2em">
               Vous avez invité
              </span>
            </p>
            <p>
            <span style="color:#d4ff2a!important;font-size:1.5em">
               {{ email.parent }} BobRazowski@monstre.fr
              </span>
            </p>

          </div>



      </ion-item>
    </ion-list>
  </ion-content>


</ion-view>
