<ion-view scroll="false" hide-nav-bar="true" style="background-color:#34495e!important">

<ion-content style="text-align:center" name="loginform" style="background-color:#34495e!important">
    <form ng-submit="doLogin()" style='border' novalidate>
      <div class="list" style="background-color:#34495e!important">
        <img width="300px" height="300px" src="img/solo.svg"/>
        <p style="padding:20px!important;">
          <span class="LoginTitle">
            Storigin Academy
          </span>
        </p>

        <label class="item item-input">
          <input placeholder="email" name="email" type="text" ng-model="loginData.email" ng-required="true"  class="form-control">
        </label>

        <label class="item item-input">
          <input placeholder="mot de passe" name="password" type="password" ng-required="true" ng-model="loginData.password" required>
        </label>
          <br/>
        <span>
          <p>
            <a style="color:#ffffff!important;" href="">
              mot de passe oublié ?
            </a>
          </p>
        </span>

        <label class="item" style="background-color:#34495e!important; border-width:0px!important;" >
          <button class="button button-block button-positive" style="background-color:#d4ff2a!important;color:#000000">
            se connecter
          </button>
        </label>
      </div>
    </form>

    <button ng-click="FacebookLogin()" class="button button-block item-end icon-left" style="border-color:#2c3e50;background-color:#34495e!important;color:#ffffff" type="submit">
      se connecter avec facebook
      <i class="icon ion-social-facebook" style=" margin: 5px; color:#ffffff;font-size:2em!important"></i>
    </button>

    <button ng-click="openRegister()" class="button button-block item-end icon-left" style="border-color:#2c3e50;background-color:#34495e!important;color:#ffffff">
      inscription
    </button>

    <span style="color:#ffffff!important;">
            Storigin - 2018
          </span>
  </ion-content>
</ion-view>
