<ion-view view-title="Modification profil" style="background-color:#34495e!important;">
<style>
  .item-select.item-positive select
  {
    background-color:#d4ff2a;
    color:#000000;
  }
</style>
  <ion-content style="text-align:center!important">
    <div>
    <form ng-submit="doUpdate()" style='border'>
    <img width="300px" height="300px" src="img/invite.svg" class="animated pulse infinite" style="padding-bottom:50px!important;" />
      <label class="item item-input">
        <input placeholder="{{ parentnom }}" name="nom" type="text" ng-model="updateData.parentnom">
      </label>

      <label class="item item-input">
        <input name="prenom" type="text" ng-model="updateData.parentprenom" placeholder="{{ parentprenom }}">
      </label>

      <label class="item item-input">
        <input name="email" type="text" ng-model="updateData.email" placeholder="{{ email }}">
      </label>

      <label class="item item-input">
        <input name="password" type="password" ng-model="updateData.password" placeholder="{{ password }}">
      </label>

      <label class = "item item-input item-select item-positive">
        <div class = "input-label">
          Genre
        </div>

        <select ng-model="updateData.sex">
          <option selected>femme</option>
          <option>homme</option>
        </select>
      </label>


      <label class="item" style="background-color:#34495e!important; border-width:0px!important;" >
        <button class="button button-block button-positive" style="border-color:#2c3e50;background-color:#34495e!important;color:#ffffff">
          Valider
        </button>
      </label>
      </form>

    </div>
  </ion-content>
</ion-view>
