<ion-view view-title="Modification" style="background-color:#34495e!important;">

  <ion-content style="text-align:center!important">
    <div >
      <div id="modifyChildColor">
      <img width="300px" height="300px" src="img/chapeau-storigin.svg" style="padding-bottom:30px!important;width:150px;height:150px;" />
      </div>

      <label class="item item-input">
        <input placeholder="Nom" name="nom" type="text" ng-model="updateData.nom">
      </label>

      <label class="item item-input" style="margin-top:10px!important;margin-bottom:10px!important;padding:0px!important;color:#e74c3c">
        Date de naissance : <input id="birthdate" placeholder="Date de naissance" ng-change="setBirthdate()" value="0000-00-0" ng-model="updateChildData.birthdate" type="date">
      </label>

      <div class="button-bar" style="margin-top:10px!important;margin-bottom:0px!important;padding:0px!important;" >
        <a class="button assertive" style="background-color:#fad390!important" ng-click="setModifyChildColor('#fad390')">&nbsp;</a>
        <a class="button positive" style="background-color:#f8c291!important" ng-click="setModifyChildColor('#f8c291')">&nbsp;</a>
        <a class="button calm" style="background-color:#6a89cc!important" ng-click="setModifyChildColor('#6a89cc')">&nbsp;</a>
        <a class="button energized" style="background-color:#82ccdd!important" ng-click="setModifyChildColor('#82ccdd')">&nbsp;</a>
        <a class="button energized" style="background-color:#b8e994!important" ng-click="setModifyChildColor('#b8e994')">&nbsp;</a>
      </div>
      <div class="button-bar" style="margin-top:0px!important;margin-bottom:0px!important;padding:0px!important;">
        <a class="button assertive" style="background-color:#f6b93b!important" ng-click="setModifyChildColor('#f6b93b')">&nbsp;</a>
        <a class="button positive" style="background-color:#e55039!important" ng-click="setModifyChildColor('#e55039')">&nbsp;</a>
        <a class="button calm" style="background-color:#4a69bd!important" ng-click="setModifyChildColor('#4a69bd')">&nbsp;</a>
        <a class="button energized" style="background-color:#60a3bc!important" ng-click="setModifyChildColor('#60a3bc')">&nbsp;</a>
        <a class="button energized" style="background-color:#78e08f!important" ng-click="setModifyChildColor('#78e08f')">&nbsp;</a>
      </div>
      <div class="button-bar" style="margin-top:0px!important;margin-bottom:0px!important;padding:0px!important;">
        <a class="button assertive" style="background-color:#fa983a!important" ng-click="setModifyChildColor('#fa983a')">&nbsp;</a>
        <a class="button positive" style="background-color:#eb2f06!important" ng-click="setModifyChildColor('#eb2f06')">&nbsp;</a>
        <a class="button calm" style="background-color:#1e3799!important" ng-click="setModifyChildColor('#1e3799')">&nbsp;</a>
        <a class="button energized" style="background-color:#3c6382!important" ng-click="setModifyChildColor('#3c6382')">&nbsp;</a>
        <a class="button energized" style="background-color:#38ada9!important" ng-click="setModifyChildColor('#38ada9')">&nbsp;</a>
      </div>
      <div class="button-bar" style="margin-top:0px!important;margin-bottom:0px!important;padding:0px!important;">
        <a class="button assertive" style="background-color:#e58e26!important" ng-click="setModifyChildColor('#e58e26')">&nbsp;</a>
        <a class="button positive" style="background-color:#b71540!important" ng-click="setModifyChildColor('#b71540')">&nbsp;</a>
        <a class="button calm" style="background-color:#0c2461!important" ng-click="setChildColor('#0c2461')">&nbsp;</a>
        <a class="button energized" style="background-color:#0a3d62!important" ng-click="setModifyChildColor('#0a3d62')">&nbsp;</a>
        <a class="button energized" style="background-color:#38ada9!important" ng-click="setModifyChildColor('#079992')">&nbsp;</a>
      </div>

      <label class="item item-input">
        <button class="button button-full button-outline" style="border-color:none!important; color:#ffffff">
          Modifier
        </button>

    </div>
  </ion-content>


</ion-view>
