<style>
    .item
    {
        background-color: #d4ff2a;
        color: #ffffff;
        position: relative;
        z-index: 2;
        display: block;
        margin: -1px;
        padding: 16px;
        border-width: 0px;
        font-size: 2em;
        text-align:left!important;
        height:65px!important;
    }

    .popup-container .popup
    {
       background-color: #d4ff2a!important;
    }

</style>
<div class="popup-head">
    <h3 class="popup-title" style="background-color:#d4ff2a!important;color:#000000;font-size:2em">
       Créneau hebdomadaire
        <br/>
    </h3>
    <i class="icon ion-android-stopwatch" style="font-size:3em!important;color:#000000;"></i>
</div>

<form ng-submit="SetChildCalendar()" style='border-width:0px;'>
    <ul class="list">
        <li class="item item-toggle">
            <span style="color:#000000;">LUNDI</span>
            <label class="toggle toggle-calm">
                <input type="checkbox" name="monday" ng-model="calendarData.monday">
                <div class="track">
                    <div class="handle"></div>
                </div>
            </label>
        </li>
        <li class="item item-toggle">
            <span style="color:#000000;"> MARDI</span>
            <label class="toggle toggle-calm">
                <input type="checkbox" name="tuesday" ng-model="calendarData.tuesday">
                <div class="track">
                    <div class="handle"></div>
                </div>
            </label>
        </li>
        <li class="item item-toggle">
            <span style="color:#000000;"> MERCRDEDI</span>
            <label class="toggle toggle-calm">
                <input type="checkbox" name="wednesday" ng-model="calendarData.wednesday">
                <div class="track">
                    <div class="handle"></div>
                </div>
            </label>
        </li>
        <li class="item item-toggle">
            <span style="color:#000000;"> JEUDI</span>
            <label class="toggle toggle-calm">
                <input type="checkbox" name="thursday" ng-model="calendarData.thursday">
                <div class="track">
                    <div class="handle"></div>
                </div>
            </label>
        </li>
        <li class="item item-toggle">
            <span style="color:#000000;"> VENDREDI </span>
            <label class="toggle toggle-calm">
                <input type="checkbox" name="friday" ng-model="calendarData.friday">
                <div class="track">
                    <div class="handle"></div>
                </div>
            </label>
        </li>
        <li class="item item-toggle">
            <span style="color:#000000;">SAMEDI</span>
            <label class="toggle toggle-calm">
                <input type="checkbox" name="saturday" ng-model="calendarData.saturday">
                <div class="track">
                    <div class="handle"></div>
                </div>
            </label>
        </li>
        <li class="item item-toggle">
            <span style="color:#000000;">DIMANCHE</span>
            <label class="toggle toggle-calm">
                <input type="checkbox" name="sunday" ng-model="calendarData.sunday">
                <div class="track">
                    <div class="handle"></div>
                </div>
            </label>
        </li>
    </ul>

    <button class="button button-block button-positive" style="background-color:#d4ff2a!important;color:#000000;font-size:2em">
        enregistrer
    </button>
</form>
