<style>
    .item
    {
        background-color: #e55039;
        color: #ffffff;
        position: relative;
        z-index: 2;
        display: block;
        margin: -1px;
        padding: 16px;
        border-width: 0px;
        font-size: 2em;
        text-align:left!important;
        height:65px!important;
    }

    .popup-container .popup
    {
       background-color: #e55039!important;
    }

</style>
<div class="popup-head">
    <h3 class="popup-title" style="background-color:#e55039!important;color:#ffffff;font-size:2em">
       Créneau hebdomadaire
        <br/>
    </h3>
    <i class="icon ion-android-stopwatch" style="font-size:3em!important;color:#ffffff;"></i>
</div>

<form ng-submit="SetChildCalendar()" style='border-width:0px;'>
    <ul class="list">
        <li class="item item-toggle">
            LUNDI
            <label class="toggle toggle-assertive">
                <input type="checkbox" name="monday" ng-model="calendarData.monday">
                <div class="track">
                    <div class="handle"></div>
                </div>
            </label>
        </li>
        <li class="item item-toggle">
            MARDI
            <label class="toggle toggle-assertive">
                <input type="checkbox" name="tuesday" ng-model="calendarData.tuesday">
                <div class="track">
                    <div class="handle"></div>
                </div>
            </label>
        </li>
        <li class="item item-toggle">
            MERCRDEDI
            <label class="toggle toggle-assertive">
                <input type="checkbox" name="wednesday" ng-model="calendarData.wednesday">
                <div class="track">
                    <div class="handle"></div>
                </div>
            </label>
        </li>
        <li class="item item-toggle">
            JEUDI
            <label class="toggle toggle-assertive">
                <input type="checkbox" name="thursday" ng-model="calendarData.thursday">
                <div class="track">
                    <div class="handle"></div>
                </div>
            </label>
        </li>
        <li class="item item-toggle">
            VENDREDI
            <label class="toggle toggle-assertive">
                <input type="checkbox" name="friday" ng-model="calendarData.friday">
                <div class="track">
                    <div class="handle"></div>
                </div>
            </label>
        </li>
        <li class="item item-toggle">
            SAMEDI
            <label class="toggle toggle-assertive">
                <input type="checkbox" name="saturday" ng-model="calendarData.saturday">
                <div class="track">
                    <div class="handle"></div>
                </div>
            </label>
        </li>
        <li class="item item-toggle">
            DIMANCHE
            <label class="toggle toggle-assertive">
                <input type="checkbox" name="sunday" ng-model="calendarData.sunday">
                <div class="track">
                    <div class="handle"></div>
                </div>
            </label>
        </li>
    </ul>

    <button class="button button-block button-positive" style="background-color:#e55039!important;color:#ffffff;font-size:2em">
        se connecter
    </button>
</form>

<!--<a class="button button-full " style="background-color:#e55039!important;color:#ffffff;font-size:2em" ng-click="closePopup()">
    valider
</a>-->